{% extends 'restaurant/base.html'%}

{% block content %}
<div id="menu-page">
    <div id="heading-menu">
        <h3>YoYo Mugs Menu</h3>
    </div>

    <div class="list-group">
        {% for menu_item_type in menu_item_types %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ menu_item_type.menuItemType }}</h5>
            </div>
            <p>
                {% for menu_item in menu_items %}
                {% if menu_item.itemType == menu_item_type %}
                {{ menu_item.itemName }}: {{ menu_item.itemPPU }}|-
                <br>
                {% endif %}
                {% endfor %}
            </p>
        </a>
        {% endfor %}
    </div>
</div>



{% endblock %}

