.nav-item {
    padding-left: 100px; /* Adjust the padding as needed */
}

#carouselExampleCaptions {
    height: 90vh;
    width: 100%;
    align: center;
}

.carousel-inner{
  width:100%;
  max-height: 90vh !important;
}

.carousel-caption {
    /* Position the caption at the bottom of the carousel */
    bottom: 0;
    /* Add some padding to prevent the caption from touching the edges */
    padding-bottom: 32%;
    /* Set the background color and opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* Set text color */
    color: white;
    /* Ensure text is centered horizontally */
    text-align: center;
}

#menu-page{
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1690983323310-3f8e55c9272f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.list-group {
    padding: 15%; /* Adjust padding as needed */
    padding-top: 1%;
    text-transform: uppercase;

}

.list-group-item{
    /* Set the background color and opacity */
    background-color: rgba(0, 0, 0, 0.5);
    /* Set text color */
    color: white;
    /* Ensure text is centered horizontally */
    text-align: center;
    padding: 20px;
}

#heading-menu{
    padding-top: 1%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#form-section{
    align: center;
}

#brandAnchor{
    padding-left: 100px;
}